@media screen and (max-width: 1440px) {
    .container {
        margin: 0 150px;
    }
}

@media screen and (max-width: 1400px) {
    .loyalty__img {
        right: 13%;
    }
}

@media screen and (max-width: 1320px) {
    .loyalty__img {
        right: 5%;
    }
}

@media screen and (max-width: 1225px) {
    .main__title {
        max-width: 400px;
        font-size: 40px;
    }

    .loyalty__img {
        position: unset;
        margin: -26px -13% 0px 0px;
    }


    .howitwork__sub,
    .gifts__sub {
        padding-top: 10px;
        padding-right: 100px;
    }

    .loyalty-col__text {
        padding: 0px 70px 0px 0px;
    }

    .gifts__sub {
        padding-right: 0;
    }
}

@media screen and (max-width: 1150px) {

    .loyalty__img {
        margin: 0px -3% 0px 0px;
    }

}



@media screen and (max-width: 1100px) {
    .footer__right {
        padding-bottom: 20px;
    }

    .loyalty-col__item {
        padding: 25px 25px 25px 98px;
    }

    .container {
        margin: 0 100px;
    }
}

@media screen and (max-width: 950px) {

    .loyalty-col__item {
        padding: 20px 20px 20px 98px;
    }

    .main {
        padding-top: 20px;
    }

    .main__title {
        max-width: 300px;
        font-size: 30px;
    }

    .howitwork__sub {
        padding-right: 50px;
    }

    .container {
        margin: 0 75px;
    }

    .footer__inner {
        padding: 20px 0 0 0;

    }
}

@media screen and (max-width: 900px) {
    .order__items {
        margin: 0;
    }

    .order__item {
        width: 30%;
    }

    .item__link {
        font-size: 18px;
    }

    .howitwork {
        margin-top: 50px;
    }

    .howitwork__title,
    .gifts__title {
        font-size: 28px;
    }

    .loyalty-col__title {
        font-size: 20px;
    }

    .loyalty__inner {
        display: block;
    }

    .loyalty-col__item {
        padding: 20px 10px 10px 88px;
    }

    .gifts {
        margin-top: 90px;
    }
}



@media screen and (max-width: 800px) {

    .container {
        margin: 0 40px;
    }

    .nav__link {
        margin-left: 15px;
    }

    .item__link::before {
        margin: 20px auto;
    }

    .footer__inner {
        justify-content: space-around;
    }

    .footer p {
        font-size: 14px;
    }

}

@media screen and (max-width: 700px) {
    .container {
        margin: 0 30px;
    }

    .order__items {
        justify-content: center;
        flex-wrap: wrap;
    }

    .order__item {
        width: 50%;
    }

    .howitwork {
        margin-top: 0;
    }

    .loyalty {
        margin-top: 60px;
    }

    .gifts {
        margin-top: 30px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__right {
        flex-direction: column;
    }

    .loyalty__col {
        margin: 0;
        padding-top: 30px;
    }

    .loyalty-col__item {
        width: 350px;
    }

    .loyalty__img {
        width: 50%;
        position: relative;
        left: 25%;
        /* transform: scale(0.5); */
    }

    .loyalty-col__title {
        font-size: 17px;
    }

    .order__items {
        flex-wrap: wrap;

    }

    .gifts__item {
        margin-left: 7%;
    }

    .howitwork img,
    .gifts img {
        margin: -40px 0 -60px 0px;
    }

    .enjoy__link {
        margin-top: 0;
    }

}


@media screen and (max-width: 800px) {

    .inner__left {
        padding-top: 0;
    }

    .gifts,
    .howitwork p {
        font-size: 15px;
    }

    .gifts__title,
    .howitwork__title {
        font-size: 22px;
    }

    .main__img {
        margin-right: 0;
    }
}





@media screen and (max-width: 620px) {

    .enjoy__title {
        font-size: 30px;
    }

    .enjoy__link {
        margin: 10px 0;
    }

    .nav__link {
        margin-left: 0px;
        padding: 8px 15px 8px 15px;
    }


    
}




@media screen and (max-width: 577px) {

    .loyalty-col__item:nth-child(2) {
        left: 0px;
    }

}


@media screen and (max-width: 540px) {

    .nav__hidden{
        display: none;
    }

    .header__inner{
        align-items: flex-end;
    }

    .order__item {
        padding: 20px 0;

    }

    .item-order__text,
    .item-order__title {
        margin: 0 10px;
    }

    .howitwork__inner,
    .gifts__inner {
        flex-direction: column;
    }

    .howitwork__item,
    .gifts__item {
        width: 70%;
    }


    .howitwork img,
    .gifts img {
        margin: 0;
    }

    .main__title {
        width: 250px;
        font-size: 23px;
    }

    .loyalty-col__item {
        width: 70%;
    }

    .loyalty-col__img {
        order: -1;
    }

    .howitwork__sub {
        padding-right: 0;
    }

    .main__link {
        padding: 15px 40px 15px 9px;
    }

    .main__link::after {
        right: 8px;
        top: 19px;
    }
}

@media screen and (max-width: 500px) {

    .loyalty-col__item {
        padding: 10px 10px 10px 75px;
    }

    .loyalty-col__text {
        padding-right: 10px;
    }

}




@media screen and (max-width: 430px) {

    .container {
        margin: 0 10px;
    }

    .main__title {
        width: 200px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .main__link {
        font-size: 15px;
    }

    .main__img {
        width: 100%;
    }

    .order__item {
        width: 75%;
        align-items: center;
    }


    .loyalty-col__item:nth-child(2) {
        position: relative;
        left: 0;
    }

    .field {
        padding: 17px 50px 17px 50px;
    }

    .main__link::after {
        display: none;
    }

    .main__link {
        padding-right: 9px;
    }



    .footer__title {
        margin: 0;
    }

    .img-right,
    .img-left {
        display: none;
    }

    .footer__inner {
        align-items: center;
    }
    .footer h3 {
        margin-top: 0;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer__right {
        width: auto;
    }

}